* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    background-color: #f2f2f2;
    font-family: 'Lato', sans-serif;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

p {
    font-size: 1.6rem;
}

.container {
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
}

.slider {
    width: 100%;
    margin: 1rem auto;
    border-radius: .5rem;
    position: relative;
    overflow: hidden;
}

.slider:hover img {
    cursor: pointer;
    transform: scale(1.1);
}

.slider img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    transition: 0.2s transform ease-in-out;
}

.btn-control {
    display: block;
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
    top: 50%;
    transform: translate(0%, -50%);
    position: absolute;
    transition: 0.2s color ease-in-out;
}

#btn-prev {
    left: 2%;
}

#btn-next {
    right: 2%;
}

.card {
    width: 100%;
    height: 30%;
    border-radius: 0 0 .5rem .5rem;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    position: absolute;
}

.card-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.card-container .card-info {
    width: 100%;
    padding: .5rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    position: absolute;
}

.card-text,
.card-title {
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 1);
}

.icon-slider-control {
    color: #fff;
    transition: 0.2s transform ease-in-out 0.2s,
        0.2s color ease-in-out;
}

.icon-slider-control:hover {
    color: royalblue;
    transform: scale(1.1);
}

.slider-preview-control {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-slider-preview {
    width: 50px;
    margin: 0 1rem;
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
}

#btn-slider-preview-0 {
    animation: 0.2s animate-btn-preview ease-in-out;
}

#btn-slider-preview-1 {
    animation: 0.4s animate-btn-preview ease-in-out;
}

#btn-slider-preview-2 {
    animation: 0.6s animate-btn-preview ease-in-out;
}

#btn-slider-preview-3 {
    animation: 0.8s animate-btn-preview ease-in-out;
}

#btn-slider-preview-4 {
    animation: 1s animate-btn-preview ease-in-out;
}

#btn-slider-preview-5 {
    animation: 1.2s animate-btn-preview ease-in-out;
}

.btn-slider-preview img {
    width: 100%;
    height: 50px;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    transition: 0.2s opacity ease-in-out,
        0.2s transform ease-in-out;
}

.btn-slider-preview img:hover {
    opacity: 0.5;
    transform: scale(1.1);
}

@keyframes animate-btn-preview {
    0% {
        opacity: 0;
        transform: translateY(20%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@media screen and (max-width: 576px) {
    html {
        font-size: 7px;
    }
}

@media screen and (min-width: 576px) {
    html {
        font-size: 7px;
    }

    .container {
        max-width: 560px;
    }
}

@media screen and (min-width: 768px) {
    html {
        font-size: 8px;
    }

    .container {
        max-width: 720px;
    }
}

@media screen and (min-width: 992px) {
    html {
        font-size: 9px;
    }

    .container {
        max-width: 960px;
    }

    .slider img {
        height: 350px;
    }

    .card {
        height: 30%;
    }

}

@media screen and (min-width: 1200px) {
    html {
        font-size: 10px;
    }

    .container {
        max-width: 1140px;
    }
}